<a href="https://colab.research.google.com/github/learn-python-and-r/IST-652/blob/master/Unit_5_Sandbox.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from pymongo import MongoClient

client =  MongoClient('localhost',27017)

# Show existing databases
print(client.list_database_names())

ServerSelectionTimeoutError: ignored

# Data Transformations Code  (Courtesy of Randy Geszvain)

### Question
Repeat the activity that we just went through in the lecture to read the data from the provided State Data. Transform the data.

state_data = {'State':['Alabama','Alaska','Arizona','Arkansas'],'PostCode':['AL','AK','AZ','AR'],'Area':['52,423','656,424','*','53,182'],'Pop':['4,040,587','550,043','3,665,228','2,350,750']}

1. Create a dataframe using pd.DataFrame(state_data, columns=['State','PostCode','Area','Pop'].

2. Display the table.

3. Index the table by 'State'.

4. Replace the '*' with '0'.

5. Define a function to replace ',' with ''.

6. Use this function to replace the commas in 'Area' and 'Pop'.

Submit your code and a final display of your table.

In [0]:
state_data = {'State':['Alabama','Alaska','Arizona','Arkansas'],'PostCode':['AL','AK','AZ','AR'],'Area':['52,423','656,424','*','53,182'],'Pop':['4,040,587','550,043','3,665,228','2,350,750']}

print(state_data)

{'State': ['Alabama', 'Alaska', 'Arizona', 'Arkansas'], 'PostCode': ['AL', 'AK', 'AZ', 'AR'], 'Area': ['52,423', '656,424', '*', '53,182'], 'Pop': ['4,040,587', '550,043', '3,665,228', '2,350,750']}

In [0]:


#1. Create a dataframe using pd.DataFrame(state_data, columns=['State','PostCode','Area','Pop'].
import pandas as pd
import numpy as np

df = pd.DataFrame(state_data, columns=['State','PostCode','Area','Pop'])




#2. Display the table.

print(df)

      State PostCode     Area        Pop
0   Alabama       AL   52,423  4,040,587
1    Alaska       AK  656,424    550,043
2   Arizona       AZ        *  3,665,228
3  Arkansas       AR   53,182  2,350,750

In [0]:
#3. Index the table by 'State'.

stdf = df.set_index('State')
print(stdf)

         PostCode     Area        Pop
State
Alabama        AL   52,423  4,040,587
Alaska         AK  656,424    550,043
Arizona        AZ        *  3,665,228
Arkansas       AR   53,182  2,350,750

In [0]:
#4. Replace the '*' with '0'.

stdf =stdf.replace('*','0')
print(stdf)

#5. Define a function to replace ',' with ''.

def rm_comma(str):
  return str.replace(',','')

         PostCode     Area        Pop
State
Alabama        AL   52,423  4,040,587
Alaska         AK  656,424    550,043
Arizona        AZ        0  3,665,228
Arkansas       AR   53,182  2,350,750

In [0]:
#6. Use this function to replace the commas in 'Area' and 'Pop'.

stdf['Area'] = stdf['Area'].map(rm_comma)
stdf['Pop'] = stdf['Pop'].map(rm_comma)
print(stdf)

         PostCode    Area      Pop
State
Alabama        AL   52423  4040587
Alaska         AK  656424   550043
Arizona        AZ       0  3665228
Arkansas       AR   53182  2350750

# Writing Reports and Tables to a File

In [0]:
'''
  This program reads the American League baseball players, 2003, tsv file
    using the csv reader 
    and stores it in a list of dictionaries, one for each player
  Each line has the team, the player name, the salary and the position played.

  The program writes a report on the average salary per player to a txt file.
  The program writes the players who made more than $10 million to a csv file
    using the csv writer with a header line suitable for excel.
'''

import csv

infile = 'ALbb.salaries.2003.tsv'

# create new empty list
playersList = []

with open(infile, 'rU') as csvfile:
    # the csv file reader returns a list of the csv items on each line
    ALReader = csv.reader(csvfile,  dialect='excel', delimiter='\t')

    # from each line, a list of row items, put each element in a dictionary
    #   with a key representing the data
    for line in ALReader:
      # skip lines without data
      if line[0] == '' or line[0].startswith('American') or line[0].startswith('Team')\
            or line[0].startswith('Source'):
          continue
      else:
          try:
            # create a dictionary for each player
            player = {}
            # add each piece of data under a key representing that data
            player['team'] = line[0]
            player['name'] = line[1]
            player['sal'] = int(line[2].replace(',',''))
            player['position'] = line[3]
    
            # add this player to the list
            playersList.append(player)
    
          except IndexError:
            print ('Error: ', line)
csvfile.close()

print ("Read", len(playersList), "player data")


# Write a report text file with a title and the average of the salaries
# First create an output file name
outfile1 = infile.replace('tsv', '') + 'report.txt'
# open the file for writing
fout1 = open(outfile1, 'w')

# write title at top of file
fout1.write("American League Baseball players average salary in 2003\n\n")

# comput the average salary over all players
total_salary = 0.0
for player in playersList:
    total_salary += player['sal']
average_salary = total_salary / len(playersList)

# write a report line as a string to the file
fout1.write('Average salary = ${:,.2f}'.format(average_salary))
fout1.close()

# Write a file with all the players who made more than $10 million.
# We write a comma separated file, using the csv writer to quote the player names with commas
# first create an output file name
outfile2 = infile.replace('tsv','') + 'million.csv'

# open the file
with open(outfile2, 'w', newline='') as csvfileout:
    # create a csv writer for a comman sep file, with quoting as needed
    ALwriter = csv.writer(csvfileout, delimiter=',', quoting=csv.QUOTE_MINIMAL)
    # write the header row as a list of column labels
    ALwriter.writerow(['Player', 'Team', 'Salary'])
    for player in playersList:
        # select the players with salary over 1 million
        if (player['sal'] > 10000000):
            # write the player as a list of data items
            ALwriter.writerow([player['name'], player['team'], player['sal']])

csvfileout.close()

# Breakout Group Exercise

Take the program we just walked through and modify it to create an output file called 'pitchers-only.csv' and change the code to only select pitchers.

Present how you went about doing this to the class